@font-face {
  font-family: 'sliderfont';
  src: url('font/sliderfont.eot?97670013');
  src: url('font/sliderfont.eot?97670013#iefix') format('embedded-opentype'),
       url('font/sliderfont.woff?97670013') format('woff'),
       url('font/sliderfont.ttf?97670013') format('truetype'),
       url('font/sliderfont.svg?97670013#sliderfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sliderfont';
    src: url('font/sliderfont.svg?97670013#sliderfont') format('svg');
  }
}
*/
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sliderfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-pause:before { content: '\e800'; } /* 'о Ђ' */
.icon-play:before { content: '\e801'; } /* 'о Ѓ' */
.icon-circle-empty:before { content: '\e802'; } /* 'о ‚' */
.icon-left-open:before { content: '\e804'; } /* 'о „' */
.icon-right-open:before { content: '\e805'; } /* 'о …' */
.icon-circle:before { content: '\e806'; } /* 'о †' */
.skslider-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow: hidden;
}
.skslider-slides,
.skslider-slides *,
.skslider-slides *:after,
.skslider-slides *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.skslider-slides,
.skslider-slides:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.skslider-slides {
    background: #000;
    list-style: none;
}
.skslider-slides:after {
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left;*/
}
.skslider-slides > li {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: block;
    overflow: hidden;
    color: transparent;
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.skslider-slides > li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.skslider-slides > li {
  -webkit-transition: none;
  transition: none;
}
.skslider-description-wrap {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.skslider-description-item {
    position: absolute;
    bottom: 0%;
    right: 10%;
    height: 50%;
    width: 50%;
    word-wrap: break-word;
    white-space: normal;
    text-align: right;
}
.skslider-title {
    font-family: 'roboto_cnregular' !important;
    color: #fff;
    z-index: 2;
    opacity: 0;
    padding: 5px 15px;
/*    text-transform: uppercase;*/
    position: absolute;
    bottom: 50%;
    right: 0;
    margin: 0 !important;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.skslider-description {
    color: #fff;
    z-index: 2;
    opacity: 0;
    padding: 5px 15px;
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.skslider-controls-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    text-align: right;
    color: #fff;
    z-index: 3;
    font-size: 14px;
    width: 100%;
}
.skslider-controls {
    display: inline-block;
    /*margin: 0 auto 5px;*/
    margin-bottom: 5px;
}
.skslider-controls span {
    display: inline-block;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    position: relative;
}
.skslider-controls span:hover {
    opacity: 1;
}
.skslider-controls i {
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 5px;
}
.skslider-bullets {
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding: 0;
    text-align: right;
    color: #fff;
    z-index: 3;
    font-size: 18px;
    width: 30px;
    list-style: none;
}
.skslider-bullets li {
    opacity: 0.5;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    margin-bottom: 3px;
}
.skslider-bullets li.active {
    opacity: 1;
}
.skslider-bullets li:hover {
    opacity: 0.9;
}
.skslider-bullets li span {
    display: none;
    position: absolute;
    right: 28px;
    top: -31px;
    border: 3px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.skslider-bullets li span:after {
    position: absolute;
    width: 0;
    height: 0;
    display: inline-block;
    margin: 30px 10px;
    border: 7px solid transparent; 
    border-left-color: white;  
    border-right: 0;
    content: '';
    right: -18px;
    top: 1px;
}
.skslider-bullets li img {
    height: 80px;
}
.skslider-bullets li:hover span {
    display: block;
}
/* hide bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .skslider-slides-bullets {
    display: none;
  }
}


/* ----------- Прячем футер ------------- */
.footer {
    display: none !important;
}
.wrap {
    margin: 0 !important;
    padding: 0 !important;
}