#treeview ol {
    list-style: none;
    padding: 0;
}
#treeview ol {
    margin-left: 20px;  
    margin-bottom: 0;
}
#treeview ol.treeview-sortable,
#treeview ol.uncategorized-wrap {
    margin-left: 0;
}
#treeview ol.uncategorized-wrap {
    display: none;
}
#treeview li {
    display: block;
    line-height: 30px;
    position: relative;
}
#treeview li a.category {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    outline: none;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    max-width: 100%;
}
#treeview li[visible="0"] a {
    color: #aaa;
}
#treeview li i.extrigger {
    display: none;
}
#treeview li i.chtrigger,
#treeview li i.extrigger {
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    width: 42px;
    text-align: center;
    border-right: 1px solid #ccc;
    color: #555;
}
#treeview li a.category span.link-text {
    margin-left: 10px;
}
#treeview .action-buttons {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    background: #fff;
    line-height: 42px;
}
#treeview .action-buttons a {
    /*border-left: 1px solid #ccc;*/
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    color: #555;
}
#treeview .action-divider {
    height: 42px;
    width: 0;
    border-left: 1px solid #ccc;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
}
#treeview .action-buttons a:hover {
    color: #2363b6;
}
#treeview .action-buttons .label {
    margin-right: 5px;
    
}
#treeview .category-wrap {
    border: 1px solid #cfcfcf;
    margin: 3px 0;
    background-color: #fff;
    height: 44px;
    overflow: hidden;
}
#treeview .category-wrap:hover,
#treeview .category-wrap:hover .action-buttons {
    background-color: #f7f7f7;
}
#treeview .placeholder {
    border: 1px dotted #777;
    height: 42px;
}
.treeview-sortable li.nestedSortable-collapsed > ol {
    display: none;
}
.treeview-sortable div {
    cursor: pointer;
}
.treeview-sortable li.nestedSortable-branch > div > .extrigger {
    font-family: 'FontAwesome';
    font-style: normal;
}
.treeview-sortable li.nestedSortable-branch > div > .extrigger {
    display: inline-block !important;
}
.treeview-sortable li.nestedSortable-collapsed > div > .extrigger:before {
    //content: "\f07b";
    content: "\f067";
}

.treeview-sortable li.nestedSortable-expanded > div > .extrigger:before {
    //content: "\f07c";
    content: "\f068";
}
.menu-objects div.category-wrap {
    position: relative;
}
.menu-objects .treeview-sortable li.checked > div.category-wrap {
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}
.menu-objects #treeview ol {
    margin-left: 30px;
}
.menu-objects #treeview ol.treeview-sortable {
    margin-left: 0;
}
.menu-objects .root > div {
    background: #dfdfdf !important;
}
.menu-objects .root > div span.link-text {
    margin-left: 10px;
}
.menu-objects .fa.index {
    position: absolute;
    right: 10px;
    top: 12px;
}