.color-block {
    width: 40px;
    height: 25px;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: middle;
}

.product-tab {
    margin-top: -20px;
}

.product-card .nav-pills,
.boutique-card .nav-pills {
    padding: 0 10px;
    margin-bottom: 20px;
    border: 0;
}

.product-card .tab-content,
.boutique-card .tab-content {
    background-color: transparent;
    padding-right: 0;
}

.product-card .nav-pills li,
.boutique-card .nav-pills li {
    background: #fff;
    padding: 0;
    margin: 0;
}

.product-card .nav-pills > li > a,
.boutique-card .nav-pills > li > a {
    border-radius: 0;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 12px;
    color: #555;
    margin-top: -1px;
}

.product-card .nav-pills > li:first-child > a,
.boutique-card .nav-pills > li:first-child > a {
    border-top: 1px solid #ddd;
}

.product-card .nav-pills > li > a:hover,
.boutique-card .nav-pills > li > a:focus {
    background: #fafafa;
}

.product-card .category-treeView {
    padding: 0;
    height: auto;
    border: none;
}

.product-card .category-treeView #treeview {
    padding: 0;
}

.product-card .category-treeView #treeview .category-item {
    cursor: pointer;
}

.product-card .nav-pills > li.active > a,
.boutique-card .nav-pills > li.active > a,
.product-card .nav-pills > li.active > a:focus,
.boutique-card .nav-pills > li.active > a:focus {
    background: #337ab7;
    color: #fff;
}

td.padding-none,
#feature-grid td,
#option-grid td,
#stock-grid td,
#thumbs-grid td,
#barcode-grid td,
#products-images-container td,
#supplier_code-grid td,
#card-grid td,
#face-grid td,
#info-grid td,
#partner-grid td,
#trade-spot-grid td,
#pack-grid td {
    padding: 0 !important;
}

#feature-grid td.checkbox-wrap,
#option-grid td.checkbox-wrap,
#stock-grid td.checkbox-wrap,
#thumbs-grid td.checkbox-wrap,
#barcode-grid td.checkbox-wrap,
#products-images-container td.checkbox-wrap,
#supplier_code-grid td.checkbox-wrap,
#card-grid td.checkbox-wrap,
#face-grid td.checkbox-wrap,
#info-grid td.checkbox-wrap,
#partner-grid td.checkbox-wrap,
#trade-spot-grid td.checkbox-wrap,
#pack-grid td.checkbox-wrap {
    padding: 5px 10px !important;
}

.select2-flag {
    border: 1px solid #ddd;
}

#thumbs-grid .select2-selection,
#option-grid .select2-selection,
#feature-grid .select2-selection,
#price-grid .select2-selection,
#barcode-grid .select2-selection,
#products-images-container .select2-selection,
#pack-grid .select2-selection,
#supplier_code-grid .select2-selection,
#card-grid .select2-selection,
#face-grid .select2-selection,
#info-grid .select2-selection,
#trade-spot-grid .select2-selection,
#partner-grid .select2-selection,
#stock-grid .select2-selection {
    border: none;
    height: 42px;
}

#thumbs-grid .empty,
#option-grid .empty,
#feature-grid .empty,
#price-grid .empty,
#barcode-grid .empty,
#products-images-container .empty,
#pack-grid .empty,
#supplier_code-grid .empty,
#card-grid .empty,
#face-grid .empty,
#info-grid .empty,
#trade-spot-grid .empty,
#partner-grid .empty,
#stock-grid .empty {
    line-height: 42px;
}

#thumbs-grid .select2-selection__rendered,
#option-grid .select2-selection__rendered,
#feature-grid .select2-selection__rendered,
#price-grid .select2-selection__rendered,
#barcode-grid .select2-selection__rendered,
#products-images-container .select2-selection__rendered,
#pack-grid .select2-selection__rendered,
#supplier_code-grid .select2-selection__rendered,
#card-grid .select2-selection__rendered,
#face-grid .select2-selection__rendered,
#info-grid .select2-selection__rendered,
#trade-spot-grid .select2-selection__rendered,
#partner-grid .select2-selection__rendered,
#stock-grid .select2-selection__rendered {
    line-height: 42px;
}

#thumbs-grid .form-control,
#option-grid .form-control,
#price-grid .form-control,
#feature-grid .form-control,
#barcode-grid .form-control,
#barcode-grid .form-control,
#products-images-container .form-control,
#pack-grid .form-control,
#supplier_code-grid .form-control,
#card-grid .form-control,
#face-grid .form-control,
#info-grid .form-control,
#trade-spot-grid .form-control,
#partner-grid .form-control,
#stock-grid .form-control {
    line-height: 33px;
    height: 42px;
    border: none;
}

#thumbs-grid .kv-grid-toolbar .select2-container,
#option-grid .kv-grid-toolbar .select2-container,
#price-grid .kv-grid-toolbar .select2-container,
#barcode-grid .kv-grid-toolbar .select2-container,
#barcode-grid .kv-grid-toolbar .select2-container,
#products-images-container .kv-grid-toolbar .select2-container,
#pack-grid .kv-grid-toolbar .select2-container,
#supplier_code-grid .kv-grid-toolbar .select2-container,
#stock-grid .kv-grid-toolbar .select2-container,
#card-grid .kv-grid-toolbar .select2-container,
#face-grid .kv-grid-toolbar .select2-container,
#info-grid .kv-grid-toolbar .select2-container,
#trade-spot-grid .kv-grid-toolbar .select2-container,
#partner-grid .kv-grid-toolbar .select2-container,
#feature-grid .kv-grid-toolbar .select2-container {
    width: auto !important;
    display: inline-block;
}

#thumbs-grid .kv-grid-toolbar .select2-selection,
#option-grid .kv-grid-toolbar .select2-selection,
#price-grid .kv-grid-toolbar .select2-selection,
#barcode-grid .kv-grid-toolbar .select2-selection,
#barcode-grid .kv-grid-toolbar .select2-selection,
#products-images-container .kv-grid-toolbar .select2-selection,
#pack-grid .kv-grid-toolbar .select2-selection,
#supplier_code-grid .kv-grid-toolbar .select2-selection,
#stock-grid .kv-grid-toolbar .select2-selection,
#card-grid .kv-grid-toolbar .select2-selection,
#face-grid .kv-grid-toolbar .select2-selection,
#info-grid .kv-grid-toolbar .select2-selection,
#trade-spot-grid .kv-grid-toolbar .select2-selection,
#partner-grid .kv-grid-toolbar .select2-selection,
#feature-grid .kv-grid-toolbar .select2-selection {
    height: 28px;
    border: 1px solid #ccc;
    padding: 4px 24px 6px 6px;
}

#thumbs-grid .kv-grid-toolbar .select2-selection__rendered,
#option-grid .kv-grid-toolbar .select2-selection__rendered,
#price-grid .kv-grid-toolbar .select2-selection__rendered,
#barcode-grid .kv-grid-toolbar .select2-selection__rendered,
#barcode-grid .kv-grid-toolbar .select2-selection__rendered,
#products-images-container .kv-grid-toolbar .select2-selection__rendered,
#pack-grid .kv-grid-toolbar .select2-selection__rendered,
#supplier_code-grid .kv-grid-toolbar .select2-selection__rendered,
#stock-grid .kv-grid-toolbar .select2-selection__rendered,
#card-grid .kv-grid-toolbar .select2-selection__rendered,
#face-grid .kv-grid-toolbar .select2-selection__rendered,
#info-grid .kv-grid-toolbar .select2-selection__rendered,
#trade-spot-grid .kv-grid-toolbar .select2-selection__rendered,
#partner-grid .kv-grid-toolbar .select2-selection__rendered,
#feature-grid .kv-grid-toolbar .select2-selection__rendered {
    line-height: normal;
}

#feature-grid .form-control.value {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    padding-right: 50px;
}

#feature-grid .form-control.value.edited {
    background: #fffee0;
}

#feature-grid .select2-container--bootstrap.select2-container--open {
    z-index: auto;
}

#feature-grid .value-column .select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow,
#feature-grid .value-column .select2-container .select2-selection--single .select2-selection__clear,
#feature-grid .value-column .select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
    z-index: 12;
    width: 24px;
    right: 0;
}

#feature-grid .value-column .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
    margin-left: 4px;
}

#feature-grid .value-column .select2-container .select2-selection--single .select2-selection__clear {
    text-align: center;
    margin-right: 0;
}

.edit-column {
    position: relative;
}

.edit-column:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 42px;
    line-height: 42px;
    color: #aaa;
    text-align: center;
    font-family: 'FontAwesome';
    content: '\f040';
}

.edit-column .form-control {
    padding-right: 25px;
}

.edit-column .form-control:focus {
    background: #fffee0;
}

.stock-price {
    position: relative;
    /*height: 42px;*/
    cursor: pointer;
    min-width: 120px;
    padding: 3px;
}

.price-title {
    position: relative;
    margin-bottom: 2px;
    font-size: 9px;
    line-height: 1;
}

.price-title.base {
    color: #777;
}

.price-title:not(.base) {
    text-align: right;
}

.stock-price .base-price {
    color: #777;
    line-height: 1;
    width: 100%;
    display: block;
    margin-bottom: 5px;

}

.stock-price .discount-price {
    font-size: 16px;
    line-height: 1;
    text-align: right;
    width: 100%;
    display: block;
}

.stock-price-input-form {
    position: absolute;
    width: 121px;
    border: 1px solid #aaa;
    background: #fbfbfb;
    z-index: 1050;
    margin-left: -1px;
    margin-top: -1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.stock-price-input-form input {
    border: none !important;
    border-bottom: 1px solid #ebebeb !important;
}

.stock-price-input-form .btns {
    padding: 4px;
    text-align: right;
}

.stock-price-input-form .btn {
    margin-left: 4px;
}

.image-progress-wrap {
    padding: 20px 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.progress {
    position: relative;
}

.progress-info {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .1);
}

.progress-info span {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#products-images .image-wrap {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: flex-start;
}

#products-images .image-wrap .image-block {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
}

#products-images .image-wrap .image-property-block {
    padding: 15px;
    width: calc(100% - 150px);
}

#products-images .image-wrap .image-property-block .image-property-line {
    font-size: 15px;
    line-height: 1;
}

#products-images .image-wrap .image-property-block .image-property-line:last-of-type {
    margin-bottom: 0;
}

#products-images .image-wrap .image-attributes {
    vertical-align: top;
    margin-bottom: 20px;
}

#products-images .image-wrap:last-child {
    border-bottom: none;
}

.image-wrap {
    cursor: pointer;
    padding: 5px;
    padding-right: 15px;
}

.thumbs-wrap {
    height: 42px;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    padding-right: 15px;
}

.thumbs-wrap .fa {
    font-size: 19px;
    color: #777;
    margin-top: 13px;
}

.thumbs-wrap img {
    height: 35px;
    border: 1px solid #333;
}

.cover-wrap .btn i.fa {
    margin: 0;
}

.showcase-label {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'OpenSansRegular';
}

li .showcase-label {
    margin: 3px 0;
}

.select2-selection__choice .showcase-label {
    padding-left: 20px;
}

.field-product-showcases .select2-selection__choice {
    padding: 0 !important;
    border: none !important;
    position: relative;
}

.field-product-showcases .select2-selection__choice__remove {
    position: absolute;
    left: 6px;
    top: 1px;
    color: #000 !important;
}

.field-document-state_id .select2-selection--single {
    padding: 0 !important;
}

.field-document-state_id .showcase-label {
    float: left;
    margin-top: 3px;
    margin-left: 5px;
}

#select2-document-state_id-results {
    max-height: 216px;
}

#select2-product-showcases-results .select2-results__option {
    padding: 9px 6px;
}

#select2-document-state_id-results .select2-results__option {
    padding: 9px 6px;
}
