.kv-grid-container
{
    display: none;
}

.controller-table,
.controller-table .panel
.controller-table .panel .panel-title
{
    width: 100%;
}

.controller-table .kv-grid-container
{
    padding: 0;
}


.controller-table table td
{
    padding: 10px;
    background-color: white;
}
.controller-table table thead td
{
    text-align: center;
    background-color: rgb(226, 226, 226);
}


.change-group.active,
.sort-groups.active,
.sort-group.active
{
    color: #e63f24 !important;
}


.dragg,
.dragg td:first-child
{
    display: block;
}
