@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?98333035');
  src: url('../fonts/fontello/fontello.eot?98333035#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?98333035') format('woff'),
       url('../fonts/fontello/fontello.ttf?98333035') format('truetype'),
       url('../fonts/fontello/fontello.svg?98333035#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98333035#fontello') format('svg');
  }
}
*/

 [class^="fontello-"]:before, [class*=" fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fontello-users:before { content: '\e800'; } /* '' */
.fontello-user-pair:before { content: '\e801'; } /* '' */

@font-face {
    font-family: 'OpenSansBold';
    src: url('/admin/fonts/osans/opensans-bold.eot');
    src: url('/admin/fonts/osans/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-bold.woff') format('woff'),
         url('/admin/fonts/osans/opensans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('/admin/fonts/osans/opensans-bolditalic.eot');
    src: url('/admin/fonts/osans/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-bolditalic.woff') format('woff'),
         url('/admin/fonts/osans/opensans-bolditalic.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'OpenSansExtraboldRegular';
    src: url('/admin/fonts/osans/opensans-extrabold.eot');
    src: url('/admin/fonts/osans/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-extrabold.woff') format('woff'),
         url('/admin/fonts/osans/opensans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('/admin/fonts/osans/opensans-extrabolditalic.eot');
    src: url('/admin/fonts/osans/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-extrabolditalic.woff') format('woff'),
         url('/admin/fonts/osans/opensans-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('/admin/fonts/osans/opensans-italic.eot');
    src: url('/admin/fonts/osans/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-italic.woff') format('woff'),
         url('/admin/fonts/osans/opensans-italic.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansLightRegular';
    src: url('/admin/fonts/osans/opensans-light.eot');
    src: url('/admin/fonts/osans/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-light.woff') format('woff'),
         url('/admin/fonts/osans/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('/admin/fonts/osans/opensans-lightitalic.eot');
    src: url('/admin/fonts/osans/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-lightitalic.woff') format('woff'),
         url('/admin/fonts/osans/opensans-lightitalic.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('/admin/fonts/osans/opensans-regular.eot');
    src: url('/admin/fonts/osans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-regular.woff') format('woff'),
         url('/admin/fonts/osans/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiboldRegular';
    src: url('/admin/fonts/osans/opensans-semibold.eot');
    src: url('/admin/fonts/osans/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-semibold.woff') format('woff'),
         url('/admin/fonts/osans/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('/admin/fonts/osans/opensans-semibolditalic.eot');
    src: url('/admin/fonts/osans/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/opensans-semibolditalic.woff') format('woff'),
         url('/admin/fonts/osans/opensans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('/admin/fonts/osans/open_sans_condensed_light.eot');
    src: url('/admin/fonts/osans/open_sans_condensed_light.eot?#iefix') format('embedded-opentype'),
         url('/admin/fonts/osans/open_sans_condensed_light.woff') format('woff'),
         url('/admin/fonts/osans/open_sans_condensed_light.ttf') format('truetype'),
         url('/admin/fonts/osans/open_sans_condensed_light.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}
.row {
    margin: 0 -10px;
}
[class*="col-"] {
    padding: 0 10px;
}
.label,
strong {
   font-family: 'OpenSansBold';
   font-weight: normal;
}
.tooltip-inner {
    overflow-wrap: break-word;
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}
html,
body {
    height: 100%;
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif !important;
    background-color: #eee;
    position: relative;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below,
.btn,
.select2-container--bootstrap .select2-selection,
.form-control {
    //border-radius: 0;
    -webkit-box-shadow: none;
        box-shadow: none;
}
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection,
.form-control:focus {
    -webkit-box-shadow: none;
        box-shadow: none;
}
table thead {
    background-color: #FFF;
}
label,
table thead th {
    font-family: 'OpenSansBold';
    font-weight: normal;
}
label {
    font-size: 13px;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
#page {
    min-height: 100%;
    position: relative;
}
.action-menu i {
    margin-right: 3px;
    font-size: 14px;
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
}
.action-menu li {
    float: left;
    display: block;
}
/*.action-menu li.edit-btn {
    display: none;
}*/
/*.wrap > .container-fluid {*/
    /*padding: 0px 20px 20px;*/
/*}*/
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.not-set {
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: /*"\e113"*/ "\e151";
}
a.desc:after {
    content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
    content: "\e153";
}
.sort-numerical a.desc:after {
    content: "\e154";
}
.sort-ordinal a.asc:after {
    content: "\e155";
}
.sort-ordinal a.desc:after {
    content: "\e156";
}
.grid-view th {
    white-space: nowrap;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.panel-heading .glyphicon {
    margin-right: 5px;
}
.panel .grid-view {
    font-size: 13px;
}
.panel .grid-view,
.panel #treeview {
    /*border-top: 1px solid #ddd;*/
}
.panel #treeview {
    padding: 15px;
}
.panel .grid-view table {
    margin-bottom: 0;
}
.tab-content {
    padding-top: 20px;
}
.grid-view th {
    text-align: center;
}
.menu-objects #treeview {
    padding: 0;
    border-top: none;
}
.menu-objects .category-wrap {
    cursor: auto;
}
.grid-view {
    text-align: center;
}
.menu-objects .form-group,
.menu-objects .help-block {
    margin: 0;
}
.menu-link-path {
    margin-bottom: 5px;
    color: #999;
    display: block;
    padding-left: 10px;
}
.help-block {
    font-size: 13px;
}
.side-form {
    padding: 0 15px;
}
.full-screen {
    z-index: 1031;
}
#my_map {
    height: 449px;
}
#company-grid a.map {
    color: #449d44;
    font-size: 24px;
}
.input-group-html5 .addon-range {
    min-width: 75%;
    width: 75%;
}
.buttons-wrap {
    text-align: right;
}
.progress-wrap {
    min-height: 399px;
}
.progress-label .counter {
    margin-left: 15px;
}
#progress {
    display: none;
}
.progress-wrap .progress-info {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #cfcfcf;
}
.progress-wrap .progress-info .error {
    color: red;
}
.progress-wrap .progress-info.first {
    border-top: 1px solid #cfcfcf;
    padding-top: 10px;
}
#back-to-search-btn {
    margin-top: 10px;
}
a[class*="export-"] i {
    margin-right: 3px;
}
.place-info {
    text-align: left;
}
.drag-icon-wrapper {
    height: 23px;
    width: 23px;
}
.drag-icon {
    font-size: 21px;
}
#treeview div.droppable-hover {
    cursor: default !important;
    background: #d9edf7;
}
.start-drag {
    background: #d9edf7
}
.info-top{
    margin: 0 -20px;
    padding: 30px 30px 0;
    background-color: #f2f2f2;
    min-height: 241px;
}
.status-bar {
    padding: 10px 20px 10px;
    border-top: none;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    margin: -20px -20px 0;
    text-align: right;
    background: #fff;
    margin-bottom: 20px;
}
.logo-wrap {
    width: 180px;
    height: 180px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    overflow: hidden;
    line-height: 176px;
    text-align: center;
}
.logo-bg {
    position: absolute;
    left: 0px;
    top: 20px;
    text-align: center;
    z-index: 0;
    width: 178px;
}
.logo-bg i {
    font-size: 130px;
    color: rgba(0,0,0,0.1);
}
.logo-wrap img {
    max-width: 178px;
    max-height: 178px;
}
.category-form .nav-pills {
    background: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}
.category-form .nav-pills > li + li
.info-middle .nav-pills > li + li {
    margin: 0;
}
.category-form .nav-pills > li > a,
.info-middle .nav-pills > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    line-height: 30px;
    font-size: 14px;
    color: #aaa;
    border-bottom: 3px solid transparent;
    font-family: 'OpenSansBold';
}
.category-form .nav-pills > li > a:hover,
.info-middle .nav-pills > li > a:hover {
    background: none;
    color: #555;
}
.category-form .nav-pills > li.active > a,
.info-middle .nav-pills > li.active > a {
    background: none;
    color: #555;
    border-bottom: 3px solid #4a89dc;
}
.category-form .nav-pills a i,
.info-middle .nav-pills a i {
    margin-right: 10px;
}
.grid-panel .panel-heading {
    border-bottom: 0;
}
.panel {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.kv-panel-before {
    border-bottom: none;
}
.panel th {
    font-size: 13px;
}
.panel-heading {
    padding: 0;
    text-align: left;
}
.panel-heading .summary {
    line-height: normal;
    font-size: 13px;
    text-transform: none;
}
.panel-title {
    font-size: 13px;
    font-family: 'OpenSansBold';
    text-align: left;
    line-height: normal;
    padding: 10px 15px;
    display: inline-block;
    vertical-align: top;
}
.panel-title i.fa {
    margin-right: 10px;
}
.panel-title .summary {
    font-size: 14px;
    margin-left: 7px;
}
.panel .btn-toolbar,
.panel-body.toolbar {
    padding: 10px;
    text-align: right;
    position: absolute;
    top: -5px;
    right: 0;
}
.panel .btn-toolbar .btn,
.panel-body.toolbar .btn,
.panel .btn-toolbar .dropdown-toggle:focus {
    background: none;
    border: none;
}
.panel-primary .btn-toolbar .btn,
.panel-primary .panel-body.toolbar .btn {
    color: #fff;
}
.panel .btn-toolbar .btn:active,
.panel .btn-toolbar .btn.active,
.panel-body.toolbar .btn:active,
.panel-body.toolbar .btn.active,
.panel .open > .dropdown-toggle.btn-default {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    /*color: #000;*/
}
.panel .btn-toolbar #grid-sizer {
    background: #fff;
    color: #000;
    padding: 3px 6px;
    margin-top: 1px;
}
.link-column {
    padding-left: 15px !important;
}
.link-column.disabled {
    color: #aaa;
}
.panel-actions a,
.panel-actions a:hover {
    display: inline-block;
    vertical-align: top;
    height: 38px;
    width: 38px;
    line-height: 38px;
    text-align: center;
}
.panel-primary .panel-actions a,
.panel-primary .panel-actions a:hover {
    color: #fff !important;
}
.panel-info .panel-actions a,
.panel-info .panel-actions a:hover {
    color: #337ab7 !important;
}
.panel-default .panel-actions a,
.panel-default .panel-actions a:hover {
    color: #777 !important;
}
.grid-view td.actions a:hover,
.panel-actions a:hover {
    color: #2363b6;
}
.grid-view td.actions {
    width: auto !important;
    white-space: nowrap;
}
.grid-view td.actions.btn-3 {
    min-width: 114px !important;
}
.grid-view td.actions.btn-3 a {
/*    height: 44px;
    line-height: 44px;*/
}
.grid-view td.actions {
    padding: 0;
    text-align: right;
}
.grid-view td.actions a {
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 38px;
    line-height: 37px;
    text-align: center;
    color: #555;
    border-left: 1px solid #e0e0e0;
}
.nav-tabs a {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #777;
    font-family: 'OpenSansBold';
    font-size: 13px;
    padding: 9px 35px !important;
    background: #fafafa;
    border-color: #e5e5e5 !important;
    margin-right: -1px !important;
}
.nav-tabs li.active a {
    border-bottom: 1px solid transparent !important;
}
.tabs-block .tab-content {
    padding: 15px;
    border: 1px solid #e0e0e0;
    background: #fff;
    margin-top: 0;
    border-top: 0;
}
/*.status-bar {*/
    /*border-top: 1px solid #e0e0e0;*/
    /*padding-top: 15px;*/
/*}*/
.loading {
    position: relative;
}
.loading::after {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('/admin/img/loading.gif') no-repeat center center rgba(200,200,200,0.1);
    content: '';
}
.filters td, th.kv-merged-header {
    border-bottom: none !important;
}
.kv-grid-container .checkbox-wrap {
    width: 34px !important;
}
.kv-grid-container .action-column {
    padding: 0 !important;
}
.kv-grid-container .action-column a {
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    color: #555;
    font-size: 14px;
}
.kv-grid-container .action-column a:hover {
    color: #2363b6;
}
#export-form,
.company-contact-form {
    min-width: 300px;
}
.icon-column {
    width: 50px;
    text-align: center;
    font-size: 21px;
    padding: 0 10px !important;
    color: #A992E2;
}
#my_map {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.kv-expand-detail-loading {
    background: none !important;
}
.place-info {
    padding: 20px 20px 0 20px;
}
.place-info .address {
    color: #555;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
}
#export-form .checkbox {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-top: 10px;
}
.select2-container--bootstrap.select2-container--open {
    z-index: 8031;
}
.kv-hide-search .select2-search--dropdown {
    display: none;
}
.dropdown-menu.per-page {
    min-width: 50px !important;
    text-align: center;
    //font-family: 'OpenSansBold';
}
/*.map-logo {*/
    /*display: block;*/
    /*float: left;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*line-height: 45px;*/
    /*text-align: center;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 5px;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*box-sizing: border-box;*/
/*}*/
/*.map-logo img {*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
/*}*/
/*.map-caption {*/
    /*min-height: 62px;*/
    /*padding-bottom: 10px;*/
    /*border-bottom: 1px solid #ddd;*/
/*}*/
.kv-grid-loading {
    background: none !important;
    opacity: 1 !important;
}
.input-group.input-daterange .input-group-addon {
    border-left: none;
}
.select-icon-result i {
    width: 20px;
}
.select-file-type-result .fa-file-excel-o {
    color: #3c763d;
}
.select-file-type-result .fa-file-pdf-o {
    color: #a94442;
}
.select-file-type-result .fa-file-text-o {
    color: #333;
}
.label.select-multi {
    padding-left: 20px;
}
.field-companysearch-statuslist .select2-selection__choice {
    position: relative;
    border: none !important;
    padding: 0 !important;
}
.field-companysearch-statuslist .select2-selection__choice .label {
    font-size: 12px;
}
.field-companysearch-statuslist .select2-selection__choice__remove {
    position: absolute;
    left: 5px;
    top: 2px;
    color: #fff !important;
}
.tabs-toolbar {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.panel-title.username {
    text-transform: none;
    min-height: 38px;
}
.notes-date {
    padding: 11px;
    font-size: 12px;
    color: #777;
    font-family: 'OpenSansBold';
}
.notes-text {
    font-size: 13px;
}
.fancybox-skin {
    padding: 0 !important;
    background: #fff;
    overflow: hidden;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
.fancybox-close {
    background: none !important;
    position: absolute;
    top: 10px;
    right: 5px;
}
.fancybox-close:after {
    font-family: 'FontAwesome';
    content: "\f00d";
    position: absolute;
    top: 11px;
    left: 11px;
    font-size: 16px;
    color: #aaa;
}
.fancybox-close:hover:after {
    color: #777;
}
.fancy-form-wrap {
    width: 40% !important;
}
.fancybox-inner {
    width: 100% !important;
}
.fancybox-skin h1 {
    margin: 0;
    overflow: hidden;
    height: auto;
    padding: 19px 22px 18px;
    color: #999;
    border-bottom: 1px solid #DDD;
    background-color: #FAFAFA;
    font-size: 22px;
}
.fancybox-skin h1.alert-danger {
    color: #a94442;
}
.fancybox-skin form {
    min-width: 280px;
    width: 100%;
    //max-width: 600px;
}
.fancybox-skin h1 i {
    margin-right: 10px;
}
.fancybox-skin .buttons-wrap {
    margin-bottom: 0;
    padding: 19px 22px 18px;
    border-top: 1px solid #DDD;
    background-color: #FAFAFA;
}
.fancybox-skin .form-inner {
    padding: 19px 22px 18px;
}
.cke_bottom,
.cke_top {
    background-image: none !important;
    background-color: #FAFAFA !important;
}
a.cke_combo_button,
.cke_toolgroup {
    background-image: none !important;
    background-color: #FFFFFF !important;
}
.cke_chrome {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
#notes-form .form-inner {
    width: 520px;
    height: 420px;
}
.pills-toolbar {
    border-bottom: 1px solid #ddd;
    padding: 10px 30px;
    margin: -20px -20px 20px;
    background: #fff;
}
.btn i.fa {
    margin-right: 5px;
}
.models-list .logo-wrap,
.staff-list .logo-wrap {
    width: 135px;
    height: 180px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
    background: #fff;
    overflow: hidden;
    line-height: 178px;
    text-align: center;
}
.models-list .logo-bg,
.staff-list .logo-bg {
    position: absolute;
    left: 0px;
    top: 40px;
    text-align: center;
    z-index: 0;
    width: 133px;
}
.models-list .logo-bg i,
.staff-list .logo-bg i {
    font-size: 100px;
    color: rgba(0,0,0,0.1);
}
.models-list .logo-wrap img,
.staff-list .logo-wrap img {
    max-width: 135px;
    max-height: 180px;
}
.models-list p,
.staff-list p {
    margin-bottom: 10px;
}
.models-list h3,
.staff-list h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'OpenSansBold';
}
.staff-info-inner {
    min-height: 180px;
}
.staff-item .info .contact {
    font-family: 'OpenSansBoldItalic';
}
.staff-item .info .links {
    padding-top: 3px;
}
.staff-item .panel-default .panel-body {
    opacity: 0.5;
}
.staff-item .panel-default .avatar img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.staff-details {
    display: none;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.company-note-form {
    padding: 15px;
    margin: -15px;
}
.pagination-wrap {
    text-align: center;
}
.pagination-wrap .pagination {
    margin-top: 10px;
    margin-bottom: 0;
}
.btn-upload-logo i.fa {

}
.btn-upload-logo,
.btn-upload-logo:hover {
    position: absolute !important;
    left: 0;
    right: 0;
    border: none !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    color: #fff;
    background: rgba(0,0,0,0.7);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.logo-wrap .btn-upload-logo {
    bottom: -35px;
}
.logo-wrap:hover .btn-upload-logo {
    bottom: 0;
}
.dellogo:hover,
.dellogo {
    position: absolute;
    right: 0;
    display: block;
    width: 25px;
    height: 25px;
    color: #fff !important;
    background: rgba(0,0,0,0.7);
    line-height: 25px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.logo-wrap .dellogo {
    top: -25px;
}
.logo-wrap:hover .dellogo {
    top: 0;
}
.sidebar-left-content {
    height: 100%;
    overflow: auto;
}
@media (max-width: 700px) {
    .fancy-form-wrap {
        width: 90% !important;
    }
    #notes-form .form-inner {
        width: 100%;
        height: 420px;
        overflow-y: scroll;
    }
}
@media (min-width: 700px) {
    .fancy-form-wrap {
        width: 520px !important;
    }
}
.documents-upload .kv-upload-progress .progress {
    position: absolute;
    bottom: -38px;
    left: 10px;
    right: 10px;
    margin: 0;
}
.documents-upload .documents-list {
/*    margin-top: 26px;*/
}
.documents-upload .documents-list .list-view.progress-top {
    margin-top: 15px;
}
.documents-upload .document-item {
    padding: 5px 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.documents-upload .document-item .filesize,
.documents-upload .document-item .filedate,
.documents-upload .document-item .filebtn {
    text-align: right;
}
.documents-upload .document-item .filename {
    overflow-wrap: break-word;
}
.documents-upload .document-item .fa {
    font-size: 16px;
}
.documents-upload .document-item .fa-file-image-o {
    color: #F58023;
}
.documents-upload .document-item .fa-file-code-o {
    color: #775E46;
}
.documents-upload .document-item .fa-file-text-o {
    color: #2E9AD2;
}
.documents-upload .document-item .fa-file-pdf-o {
    color: #B40808;
}
.documents-upload .document-item .fa-file-sound-o {
    color: #DA2E7F;
}
.documents-upload .document-item .fa-file-word-o {
    color: #205CB1;
}
.documents-upload .document-item .fa-file-excel-o {
    color: #2BBB64;
}
.documents-upload .document-item .fa-file-archive-o {
    color: #777BB4;
}
.documents-upload .document-item .fa-file-video-o {
    color: #1AA1BC;
}
.documents-upload .document-item .fa-file-file-o {
    color: #555555;
}
@media only screen and (max-width: 767px) {
  #user-menu {
    text-align: right;
  }
  #user-menu li {
    display: inline-block;
  }
  #user-menu li a {
    height: 50px;
    line-height: 29px;
  }
}
@media screen and (max-width: 480px) {
    .kv-table-wrap tr > td:first-child {
        border-top: 1px solid #ccc !important;
        margin-top: 0 !important;
        font-size: 21px !important;
    }
    .kv-table-wrap th, .kv-table-wrap td {
        border-top: 1px solid #ccc !important;
        margin-top: 0 !important;
        font-size: 14px !important;
    }
}


.user-profile-row {
    line-height: 1.6;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.admin-user-profile .user-profile-row span {
    display: inline-block;
    width: 30%;
}

.admin-user-profile .user-profile-row p {
    display: inline-block;
    margin: 0;
}

.user-update .panel-body .fa.fa-check {
    color: #5cb85c;
}

.user-update .panel-body .fa.fa-ban {
    color: #e9573f;
}

.user-update .panel-body .fa.fa-exclamation {
    color: #eba10b;
}
.document-view .panel-body .order-info .order-info-options,
.user-update .panel-body .user-profile-options,
.user-message-update .panel-body .order-info-options,
.review-update .panel-body .order-info-options {
    font-family: OpenSansBold;
    font-size: 13px;
}

.document-view table tr td
{
    padding: 10px 0;
}

#doc_content tr td
{
   text-align: center;
}

#doc_content thead tr
{
    border-bottom: 1px solid grey;
}

#doc_content tbody tr td
{
    border-bottom: 1px solid #ddd;
}

#doc_content tbody tr td:nth-child(1),
#doc_content tbody tr td:nth-child(2)
{
    width: 8%;
}
#doc_content tbody tr td img
{
    height: 100px;
}

#doc_info tr td
{
    width: 50%;
}

.badge-info
{
    position:absolute;
    left:3px;
    background-color:#e63f24;
    padding:3px 5px;
    font-size:10px;
    top:7px;
    font-weight:400;
    font-family:OpenSans-Light;
    font-weight: 900;
}



a span.badge-info
{
    display:block!important
}

.state_ind
{
    padding: 4px;
    font-size: 0.776em;
    border-radius: 3px;
}

.kv-grid-table thead
{
    background-color: #ddd;
}

.kv-grid-table thead tr td input
{
    background-color: white;
    opacity: 1s !important;
}

.kv-grid-table thead tr td,
.kv-grid-table thead tr th
{
    border: 1px solid #ccc !important;
}


.document-view
{
    background-color: white;
    border: 1px solid #ddd;
    margin: -10px;
    padding: 10px;
}