/*
    Created on : 29.10.2015, 10:40:22
    Author     : Snizhok
*/
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: 0;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group,
.input-group .form-control {
    z-index: 1 !important;
}
a:focus {
    outline: none !important;
}
.btn-default {
    background: #f3f3f3;
}
.btn-system:focus,
.btn-system {
    background-color: #37BC9B;
    border-color: #37BC9B;
    color: #fff;
}
.btn-system.active,
.btn-system:hover {
    background-color: #2c967c;
    border-color: #2c967c;
    color: #fff;
}
.toolbar .btn,
.toolbar .btn:focus,
.kv-grid-toolbar .btn,
.kv-grid-toolbar .btn:focus {
    color: #777;
    z-index: 1 !important;
}
.toolbar .btn:hover,
.kv-grid-toolbar .btn:hover {
    color: #e63f24;
    z-index: 1 !important;
}
.kv-grid-toolbar .sortable.active,
.toolbar .toggle-sorter.active,
.kv-grid-toolbar .toggle-sorter.active,
.kv-grid-toolbar .sorter.active {
    color: #e63f24 !important;
    z-index: 1 !important;
}
#lang-switcher .deflang {
    text-transform: uppercase;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    background-clip: padding-box;
}
.navbar .nav > li.dropdown.open .dropdown-menu {
    padding: 0 !important;
    margin-top: 10px !important;
    border-radius: 2px !important;
    border-top: 3px solid transparent !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
}
.navbar .nav > li.dropdown.open .dropdown-menu, .navbar .nav > li.dropdown .open .dropdown-menu {
    border-top-color: #e9573f !important;
}
.navbar .nav > li.dropdown.open .dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    right: 11px;
    bottom: 100%;
    border-width: 0 10px 10px;
    border-bottom-color: #e9573f;
}
.navbar-brand-wrap {
    background-color: #e63f24 !important;
    width: 50px;
    transition: all 0.1s;
}
.navbar-brand-wrap.open {
    width: 50px;
}
.navbar-brand {
    background-color: #e63f24 !important;
    width: 180px;
    display: none;
}
.navbar-brand-wrap.open .navbar-brand {
    display: none;
}
#toggle-sidebar {
    float: right;
    cursor: pointer;
    font-size: 21px;
    text-align: center;
    width: 20px;
    line-height: 50px;
    color: #fff;
}
#sidebar-left {
    color: #fff;
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    min-height: 100%;
    padding-bottom: 0px;
    background: #30363e;
    transition: all 0.1s;
    z-index: 3;
}
#sidebar-left.closed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    height: 100%;
}
#sidebar-left.closed .nano-pane {
    display: none;
}
#sidebar-left .caret {
    display: none;
}
#sidebar-left.open {
    width: 230px;
}
#sidebar-left a span {
    display: none;
}
#sidebar-left.open a span {
    display: inline;
}
#sidebar-left.open .caret {
    display: inline-block;
}
.sidebar-left-content {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#sidebar-left.closed .sidebar-left-content {
    overflow: visible;
    right: 0 !important;
}
#sidebar-left.closed.nano {
    overflow: visible;
}
#sidebar-left .nav {
    display: block;
    float: none;
    padding-top: 50px;
    margin: 0;
}
#sidebar-left .nav li {
    display: block;
    float: none;
}
#sidebar-left .nav > li:last-child {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
}
#sidebar-left li > a {
    color: #ffffff;
    font-family: 'OpenSansBold';
    padding-left: 6px;
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
#sidebar-left.open li > a {
    width: 230px;
}
#sidebar-left .nav .open > a,
#sidebar-left .nav .open > a:hover,
#sidebar-left .nav .open > a:focus,
#sidebar-left .nav > li > a:hover,
#sidebar-left .nav > li > a:focus {
    text-decoration: none;
    background: none;
}
#sidebar-left li > a > i.fa:nth-child(1) {
    width: 38px;
    font-size: 19px;
    text-align: center;
}
#sidebar-left.open li > a > i.fa:nth-child(1) {
    float: left;
    font-size: 14px;
    line-height: 18px;
}
#lang-switcher .dropdown-menu > li > a {
    padding: 10px 20px;
    background: #F5f5f5;
    line-height: 1.25;
}
#lang-switcher .dropdown-menu > li > a > img {
    vertical-align: top;
}
.sidebar-left-content .dropdown-menu {
    position: relative;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: #282d33 !important;
}
#sidebar-left.closed .dropdown-menu{
    position: absolute;
    left: 50px;
    top: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
}
#sidebar-left .dropdown-menu a span {
    display: inline;
}
#sidebar-left .dropdown-menu a i.fa {
    display: none;
}
#sidebar-left.open .dropdown-menu a i.fa {
    display: inline-block;
}
.sidebar-left-content .dropdown-menu li {
    /*padding-left: 5px;*/
}
#sidebar-left .caret {
    float: right;
    margin-top: 9px;
}
#sidebar-left .dropdown-menu li a{
    color: #bbbbbb;
    border-left: 3px solid #282d33;
    padding-top: 16px;
    padding-bottom: 16px;
}
#sidebar-left .dropdown-menu li a:hover {
    border-color: #4a89dc;
}
#sidebar-left .dropdown-menu li a:focus,
#sidebar-left .dropdown-menu li a:hover{
    color: #fff;
    background: none;
}
.nano .nano-pane {
    width: 5px;
    background: #333;
    z-index: 1000;
}
.nano .nano-slider {
    background: #4a89dc !important;
    margin: 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    width: 5px;
}
.panel-heading .glyphicon {
    margin-right: 5px;
    padding-left: 15px;
}
.navbar {
    background: #e9573f;
    border: none;
}
.container-fluid > .navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}
.navbar-brand-wrap {
    float: left;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;
}
.container-fluid .navbar-brand-wrap,
.container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
    color: #fff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus {
    background-color: #e63f24;
    color: #FFFFFF;
}
.breadcrumbs-wrap {
    background: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    font-size: 12px;
    box-sizing: border-box;
    position: fixed;
    top: 50px;
    left: 230px;
    right: 0;
    z-index: 2;
    line-height: 20px;
    transition: all 0.1s;
}
.breadcrumbs-wrap.wide {
    left: 50px;
}
.breadcrumbs-wrap .breadcrumb {
    margin-bottom: 0;
}
.panel {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.panel-default > .panel-heading {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #555;
    background-color: #fafafa;
    border-color: #e0e0e0;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin-left: 230px;
    padding-top: 108px;
    transition: all 0.1s;
}
.wrap.wide {
    margin-left: 50px;
}
.content-wrap {
    margin-top: 20px;
}
.popover,
.popover-title {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.kv-editable-link {
    text-align: left;
    border-bottom: none;
    font-size: 12px;
}
.grid-view .not-published {
    background-color: #FCE8A4 !important;
}
.panel .btn-toolbar.wide,
.panel-body.toolbar.wide {
    position: static;
    padding: 0 10px;
    float: right;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    background: #fafafa;
}
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
    float: none !important;
}
#treeview li .category-wrap.wide a.category span.link-text {
    position: absolute;
    top: 43px;
    width: 100%;
    display: block;
    left: 0;
    margin: 0;
    border-top: 1px solid #e0e0e0;
    padding: 0 10px 0;
    line-height: 25px;
}
#treeview li .category-wrap.wide {
    height: 70px;
}
#treeview li .category-wrap.wide .counter {
    position: absolute;
    top: 48px;
    right: 0;
}
#treeview li .category-wrap.wide .action-divider {
    display: none;
}
#treeview li .category-wrap i.chtrigger,
#treeview li .category-wrap i.extrigger,
#treeview li .category-wrap .action-buttons a {
    width: 35px;
}
#rates-rate_type  label {
    display: block;
}
.transfer-data {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px dashed #ddd;
}
.grid-view td {
    font-size: 13px;
}
.company-info .info-top,
.profile-form-wrapper .info-top {
    background-color: #e5e5e5;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    /*margin-top: -20px;*/
}
.status-bar {
    padding: 10px 20px 10px;
    border-top: none;
    border-bottom: 1px solid #e0e0e0;
    text-align: right;
    background: #fff;
}
.status-bar i.fa {
    font-size: 14px;
    margin-right: 0;
    width: 14px;
}
.input-group-btn.language-wrap {
    padding: 8px;
    background: #F6F6F6;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
.has-success .input-group-btn.language-wrap {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .input-group-btn.language-wrap {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-fields .droppable-hover.panel-body,
.system-fields .droppable-hover.panel-body {
    cursor: default !important;
    background: #d9edf7;
}
.builder-btn {
    float: left;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.builder-toolbar {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.info-middle .nav-pills {
    background: #fafafa;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 -20px;
    padding: 0 30px;
}
.builder-fields-wrap {
    margin: 0 -20px -20px -10px;
    padding: 20px 20px;
    border-left: 1px solid #e0e0e0;
    background: #f3f3f3;
    height: 100%;
}
.builder-fields-wrap #profile-form-grid .panel {
    margin-bottom: 0;
}
.form-fields .row.droppable-hover > .block-item-inner,
.form-fields .col.droppable-hover > .block-item-inner {
    cursor: default !important;
    background: #d9edf7;
}
.form-fields .panel-body {
    padding: 15px 25px;
}
.form-fields .row {
    background: transparent !important;
    margin: 0 -5px;
    padding: 5px 0;
    position: relative;
}
tr.dynamic-field,
.form-fields .row.dynamic-row > .block-item-inner {
    background: #C7FFCB !important;
}
.form-fields .col {
    background: transparent !important;
    padding: 5px;
    margin: 0;
    position: relative;
}
.form-fields .block-item-inner {
    background: #fff;
    min-height: 50px;
    border: 1px dashed #aaa;
    box-sizing: border-box;
}
.form-fields .text-block,
.form-fields .title-block {
    margin: 5px 0 15px;
    background: #fafafa;
    border: 1px solid #aaa;
    min-height: 50px;
    box-sizing: border-box;
    padding: 40px 10px 10px;
    position: relative;
}
.form-fields .title-block .block-text {
    font-size: 18px;
    font-family: 'OpenSansBold';
    text-align: center;
}
.form-fields .block-item-inner {
    padding-top: 40px;
}
.form-fields .col > .block-item-inner {
    padding: 40px 10px 0;
}
.form-fields .row .block-item-inner:before {
    display: table;
    content: " ";
    box-sizing: border-box;
}
.form-fields .row .block-item-inner:after {
    display: table;
    content: " ";
    clear: both;
}
.input-wrapper {
    position: relative;
    padding-right: 50px;
    min-height: 30px;
    background: transparent !important;;
}
.input-wrapper .action-btn,
.form-fields .action-btn {
    position: absolute;
    top: 3px;
    right: -3px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    z-index: 10;
}
.input-wrapper .action-btn {
    top: 22px;
    right: 0px;
}
.form-fields .text-block .action-btn,
.form-fields .title-block .action-btn {
    top: -3px;
}
.input-wrapper .slider-value {
    margin-left: 10px;
    font-family: 'OpenSansRegular';
}
.input-wrapper .slider-wrap {
    border: 1px solid #ccc !important;
    background: #eee;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 34px;
    padding: 12px 10px;
}
.input-wrapper .ui-slider {
    background: #ddd !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border: none !important;
    height: 7px !important;
    margin: 0 5px;
}
.input-wrapper .ui-slider-handle {
    border: 1px solid rgb(150, 150, 150);
    background: #f7f7f7 !important;
    color: rgb(150, 150, 150);
    height: 21px;
    width: 12px;
    top: -7px;
    margin-left: -5px;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline: none !important;
    /*position: relative;*/
}
.input-wrapper .ui-slider-handle:after {
    position: absolute;
    top: 2px;
    left: 1px;
    content: "\2630";
    font-size: 10px;
    width: 7px;
    overflow: hidden;
    display: block;
}
.input-wrapper .ui-slider-handle.ui-state-active {
    background: #fefefe !important;
}
.form-fields .col > .action-btn {
    top: 3px;
    right: 3px;
}
.input-wrapper .action-btn .fa,
.form-fields .action-btn .fa {
    color: #777;
    cursor: pointer;
    margin: 0;
    padding: 10px 15px;
}
.form-fields .action-btn .fa:hover {
    color: #333;
}
.form-fields .panel-body > .ui-state-highlight {
    height: 50px;
    margin: 0 -10px;
}
.form-fields .panel-body .row > .block-item-inner > .ui-state-highlight {
    padding: 10px;
    background: transparent !important;
    border: none;
}
.form-fields .panel-body .col > .block-item-inner > .ui-state-highlight {
    background: transparent !important;
    border: none;
    margin-bottom: 15px;
}
.form-fields .panel-body .row > .block-item-inner > .ui-state-highlight .inner {
    height: 50px;
    background: #FCEEC0 !important;
    border: 1px solid #fcefa1;
}

.form-fields .panel-body .col > .block-item-inner > .ui-state-highlight .inner {
    height: 50px;
    background: #FCEEC0 !important;
    border: 1px solid #fcefa1;
}
.radio-group .btn-default {
    border: 1px solid #ccc;
    background: #fff;
}
.radio-group .btn-default.active,
.radio-group .btn-default:hover {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: #e7e7e7 !important;
    border: 1px solid #ccc;
}
.radio-group .btn+.btn {
    margin-left: -1px;
}
.bootstrap-switch.bootstrap-switch-focused {
    border-color: #cccccc !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.input-group-btn .btn {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    -moz-border-radius-topright: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -webkit-border-top-right-radius: 4px !important;
}
.rates-update {
    margin-top: 20px;
}
.user-avatar {
    height: 30px;
    margin: -15px 10px -15px 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.ui-sortable-helper {
    background: #FFFFFF !important;
}
@media (max-width: 768px){
    ul#lang-switcher{
        position: absolute !important;
        right: 15px;
        margin: 0 -15px 0 0;
    }
    #lang-switcher > li > a {
        padding-top: 15px;
        padding-bottom: 14px;
        line-height: 20px;
    }
    i#toggle-sidebar {
        display: block;
    }
    a.navbar-brand {
        display: none !important;
    }
    .navbar-brand-wrap.open {
        width: 50px;
    }
    .wrap {
        margin-left: 50px;
    }
    .breadcrumbs-wrap {
        left: 50px;
    }
    #lang-switcher a.dropdown-toggle span,
    #lang-switcher a.dropdown-toggle .caret {
        display: none;
    }
    #lang-switcher .dropdown-menu {
        position: absolute;
        left: auto;
        right: 0;
        border: 1px solid #cccccc;
    }
}
@media screen and (max-width: 480px) {
    .grid-view table,
    .grid-view thead,
    .grid-view tbody,
    .grid-view th,
    .grid-view td,
    .grid-view tr {
        display: block;
    }
    .grid-view tfoot {
        display: none;
    }
    .grid-view .table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .grid-view tr {
        border: 1px solid #ccc;
    }
    .kv-table-wrap tr > td:first-child {
        font-size: 12px !important;
    }
    .grid-view .table td {
        /* Behave like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left !important;
        min-height: 32px;
        font-size: 12px !important;
        overflow: hidden;
    }
    .grid-view .table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 0;
        height: 32px;
        line-height: 32px;
        width: 45%;
        padding: 0 5px;
        white-space: nowrap;
        text-align:left;
        font-size: 12px;
        font-family: 'OpenSansBold';
        background: #efefef;
        border-right: 1px solid #cccccc;
    }
    .grid-view td.action-column,
    .grid-view td.checkbox-wrap {
        width: 100% !important;
        text-align: center !important;
        padding-left: 0;
        font-size: 14px !important;
    }
    .grid-view td.action-column:before,
    .grid-view td.checkbox-wrap:before {
        display: none;
    }
    .grid-view .table td:before { content: attr(data-title); }
}


.product-tab {
    margin-top: -20px;
}

.product-card .nav-pills,
.boutique-card .nav-pills {
    padding: 0 10px;
    margin-bottom: 20px;
}

.product-card .nav-pills li,
.boutique-card .nav-pills li {
    background: #fff;
    padding: 0;
    margin: 0;
}

.product-card .nav-pills > li > a,
.boutique-card .nav-pills > li > a {
    border-radius: 0;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 12px;
    color: #555;
}

.product-card .nav-pills > li:first-child > a,
.boutique-card .nav-pills > li:first-child > a {
    border-top: 1px solid #ddd;
}

.product-card .nav-pills > li > a:hover,
.boutique-card .nav-pills > li > a:focus {
    background: #fafafa;
}

.product-card .nav-pills > li.active > a,
.boutique-card .nav-pills > li.active > a,
.product-card .nav-pills > li.active > a:focus,
.boutique-card .nav-pills > li.active > a:focus {
    background: #337ab7;
    color: #fff;
}