.fixed-action-btn {
    position: absolute;
}

/*.input-field > label {
    top: -5px;
}

.select-wrapper + label {
    top: -26px;
}*/

.document-item-option {
    text-align: right;
}

.document-item-option .btn-flat {
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.items-wrap {
    padding: 0 9px;
}

.uagent-document-index {
    position: relative;
    display: block;
    margin: 0 -10px -50px;
    height: calc(100vh - 85px);
    z-index: 10;
}

.document-index *[data-pjax-container] {
    height: 100%;
}

.document-index .row, .document-index .col {
    height: 100%;
}

.document-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: calc(100% - 95px);
    margin-bottom: 20px;
    overflow-y: auto;
}

#shop-list-documents::-webkit-scrollbar, .document-wrap::-webkit-scrollbar, .document-detail-block .checkout-order-content-block::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #eee;
}

#shop-list-documents::-webkit-scrollbar-thumb, .document-wrap::-webkit-scrollbar-thumb, .document-detail-block .checkout-order-content-block::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    height: 15px
}

.shop-list-documents, #shop-list-documents {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.document-wrap.column-layout .shop-list-documents {
    width: 50%;
}

.document-wrap.column-layout .document-detail-block {
    width: 49%;
    height: 100%;
}

.pagination-container {
    text-align: center;
    width: 100%;
}

/* ---------------------------------- */

.document-detail-block {
    width: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0px rgba(20, 19, 19, 0.36);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.document-detail-block .checkout-order-header-description {
    width: 100%
}

.document-detail-empty-block {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.document-detail-info {
    margin-top: 10px;
    color: #2f2f2f;
    font-size: 24px;
    font-family: "OpenSans-Bold";
    text-align: center;
}

.document-detail-empty-icon {
    width: 50%;
}

.document-detail-empty-icon svg {
    width: 100%;
    fill: #b2b7bd;
}

/*Cтилі детального перегляду товару*/

.edit-document {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 9px;
}

.checkout-order-header {
    margin-bottom: 10px;
}

.document-detail-block .checkout-order-content-block {
    padding: 10px;
    display: none;
    height: 100%;
    overflow-y: auto;
}

@media only screen and (max-width: 767px) {
    .mob-fillter-button {
        width: 28px;
        height: 30px;
        line-height: 30px
    }
    .mob-fillter-button svg {
        width: 16px;
        height: 16px
    }
    .checkout-order-content-block {
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .checkout-order-content-block .checkout-mobile-grid .checkout-mobile-grid-item {
        padding-left: 0
    }
}

.order-info-table {
    margin-bottom: 0
}

.order-info-table tr:first-child td {
    border-top: 0;
    white-space: nowrap
}

.order-info-table tr.old-total-sum-line td:last-of-type {
    text-decoration: line-through;
    color: #ccc
}

.order-info-table tr td:first-child, .order-info-table tr td:last-child {
    padding: 5px;
    vertical-align: middle;
    font-size: 12px;
    border: none;
}

.order-info-table tr td:first-child {
    color: rgba(0, 0, 0, .54);
    width: 15%;
}

.order-info-table tr td:last-child {
    color: rgba(0, 0, 0, .87);
    width: 85%;
}

.order-info-table tr:last-of-type {
    border: none;
}

.checkout-order-confirm-message {
    font-size: 16px;
    margin: 1.2em 0;
    text-align: center
}

.checkout-order-button-block {
    width: 100%;
    text-align: center
}

.checkout-order-button-block .checkout-order-button {
    font-size: 14px;
    border: 2px solid #cea985;
    background: #cea985;
    padding: 9px 25px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase
}

.checkout-order-button-block .checkout-order-button:hover {
    color: #cea985;
    background-color: transparent
}

.checkout-order-header-image {
    padding: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #3a3c43;
    width: 23%
}

.checkout-order-header-image svg {
    max-height: 56px
}

.checkout-order-title {
    position: relative;
    color: #282a30;
    font-size: 1.7em;
    line-height: 1;
    font-family: Montserrat, sans-serif;
    margin-bottom: .5em;
    letter-spacing: 1.38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .checkout-order-title {
        font-size: 20px
    }
    .user-profile-tabs-controls .profile-tabs-title {
        text-align: center
    }
}
#select2-partner-select-results,
#select2-checkout-user-id-results {
    min-height: 400px !important;
}
/*table.checkout-table {*/

/*width: 100%;*/

/*max-width: none;*/

/*border: 0;*/

/*margin: 0;*/

/*padding: 0*/

/*}*/

/*table.checkout-table tbody tr td,*/

/*table.checkout-table thead tr td {*/

/*border-top: 1px solid #e8e7f7;*/

/*border-bottom: 1px solid #e8e7f7;*/

/*padding: 11px;*/

/*}*/

/*table.checkout-table tbody tr td {*/

/*padding: calc(14px + 1.36vw) 3px*/

/*}*/

/*table.checkout-table tbody tr td:first-of-type {*/

/*border-left: 0*/

/*}*/

/*table.checkout-table tbody tr td:last-of-type {*/

/*border-right: 0*/

/*}*/

/*table.checkout-table td.th-product {*/

/*width: 55%*/

/*}*/

/*@media only screen and (max-width: 991px) {*/

/*table.checkout-table td.th-product {*/

/*width: 40%*/

/*}*/

/*}*/

/*table.checkout-table td.th-price,*/

/*table.checkout-table td.th-sum {*/

/*width: 16%*/

/*}*/

/*table.checkout-table td.th-quantity {*/

/*width: 23%*/

/*}*/

/*table.checkout-table .td-product .checkout-product-item {*/

/*position: relative;*/

/*display: -webkit-box;*/

/*display: -webkit-flex;*/

/*display: -ms-flexbox;*/

/*display: flex*/

/*}*/

/*table.checkout-table .td-product .checkout-product-image {*/

/*position: relative;*/

/*-webkit-box-flex: 0;*/

/*-webkit-flex: 0 0 40px;*/

/*-ms-flex: 0 0 40px;*/

/*flex: 0 0 40px;*/

/*font-size: 0;*/

/*display: -webkit-inline-box;*/

/*display: -webkit-inline-flex;*/

/*display: -ms-inline-flexbox;*/

/*display: inline-flex;*/

/*-webkit-box-align: center;*/

/*-webkit-align-items: center;*/

/*-ms-flex-align: center;*/

/*align-items: center;*/

/*-webkit-box-pack: center;*/

/*-webkit-justify-content: center;*/

/*-ms-flex-pack: center;*/

/*justify-content: center;*/

/*margin-right: 5px;*/

/*height: 40px*/

/*}*/

/*table.checkout-table .td-product .checkout-product-info {*/

/*vertical-align: top;*/

/*display: inline-block;*/

/*text-align: left;*/

/*}*/

/*table.checkout-table .td-product .cart-product-name {*/

/*display: block;*/

/*color: #241f1f;*/

/*font-size: 12px*/

/*}*/

/*table.checkout-table .td-product .checkout-article {*/

/*color: #a4a4a4;*/

/*font-size: 11px;*/

/*margin-bottom: 0;*/

/*}*/

/*table.checkout-table .td-product .checkout-product-property {*/

/*width: 100%;*/

/*font-size: 0*/

/*}*/

/*table.checkout-table .td-product .checkout-product-property li {*/

/*display: inline-block;*/

/*padding: 0 15px;*/

/*font-size: 0;*/

/*vertical-align: middle*/

/*}*/

/*table.checkout-table .td-product .checkout-product-property li:not(:last-child) {*/

/*border-right: 1px solid #e8e7f7*/

/*}*/

/*table.checkout-table .td-product .checkout-product-property li span {*/

/*color: #000;*/

/*font: 13px/1 Montserrat, sans-serif;*/

/*text-transform: uppercase*/

/*}*/

/*table.checkout-table .td-product .checkout-product-property li span.product-cart-item-options-value.color {*/

/*width: 15px;*/

/*height: 15px;*/

/*display: block;*/

/*border: 1px solid #e8e7f7;*/

/*font-size: 0*/

/*}*/

/*.intl-tel-input .flag-container .selected-flag,*/

/*table.checkout-table .td_outline,*/

/*table.checkout-table .td_sumtotal {*/

/*border: none*/

/*}*/

/*@media only screen and (max-width: 1991px) {*/

/*table.checkout-table .td-product .checkout-product-name {*/

/*font-size: 14px*/

/*}*/

/*}*/

/*@media only screen and (max-width: 991px) {*/

/*table.checkout-table .td-product .checkout-product-property li {*/

/*padding: 0 6px*/

/*}*/

/*table.checkout-table .td-product .checkout-article {*/

/*font-size: 11px*/

/*}*/

/*table.checkout-table .td-product .checkout-product-info {*/

/*padding-top: 0*/

/*}*/

/*table.checkout-table .td-product .checkout-product-image {*/

/*margin-right: 7px*/

/*}*/

/*table.checkout-table .td-product .checkout-product-name {*/

/*font-size: 12px*/

/*}*/

/*}*/

/*table.checkout-table .td-price .checkout-product-price,*/

/*table.checkout-table .td-sum .checkout-product-price {*/

/*font-size: 14px;*/

/*}*/

/*table.checkout-table .td-price .checkout-product-price.old .curency,*/

/*table.checkout-table .td-price .checkout-product-price.old .value,*/

/*table.checkout-table .td-sum .checkout-product-price.old .curency,*/

/*table.checkout-table .td-sum .checkout-product-price.old .value {*/

/*text-decoration: line-through;*/

/*color: #737373;*/

/*font-size: 14px*/

/*}*/

/*table.checkout-table .td-price .checkout-product-price-type {*/

/*font-size: 11px;*/

/*}*/

/*table.checkout-table .td-quantity {*/

/*text-align: center*/

/*}*/

/*table.checkout-table thead td {*/

/*color: #303030;*/

/*font: 13px/1 Montserrat, sans-serif;*/

/*font-weight: 600;*/

/*border: 0 !important;*/

/*text-align: center*/

/*}*/

.checkout-form-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 15px;
    margin-bottom: 15px
}

.checkout-form-title .icon {
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px
}

.checkout-form-title .icon .material-icons {
    font-size: 18px
}

.section-ckeckout {
    margin-bottom: 20px
}

.table-block {
    width: 100%;
}

/*.edit-btn {*/

/*position: fixed;*/

/*bottom: 1vh;*/

/*right: 1vw;*/

/*}*/

.pagination-infinit {
    display: none;
}