.auth-form-wrap {
    width: 375px;
    border-radius: 20px;
}

.auth-form-wrap .header {
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.auth-form-wrap form {
    width: 100%;
}

.auth-form-wrap .form-group {
    width: 100%;
    padding: 5px 0;
}

.auth-form-wrap .form-control {
    width: 100%;
    height: 30px;
    background-color: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    border: none;
}

.auth-form-wrap .control-label {
    color: #041637;
    line-height: 23px;
}

.auth-form-wrap .confirm-btn {
    width: calc(50% - 7px);
    height: 35px;
    position: relative;
    font-size: 12px;
    color: #041637;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align: center;
    line-height: 33px;
    -moz-appearance: button;
    -webkit-appearance: button;
}

.auth-form-wrap .confirm-btn:hover {
    background-color: #4169E1;
    color: #f6f7f8;
    border-radius: 20px;
}

.auth-form-wrap .cancel-btn {
    width: 100%;
    margin-left: 5px;
    height: 35px;
    position: relative;
    font-size: 12px;
    color: #041637;
}

.auth-form-wrap .cancel-btn:hover {
    background-color: #A52A2A;
    color: #f6f7f8;
    border-radius: 20px;
}

.auth-form-wrap .form-buttons {
    display: flex;
    justify-content: space-between;
}

.auth-form-wrap .error-block {
    color: red;
    font-size: 12px;
    ;
}

.password-block {
    float: right;
    height: 33px;
    padding: 5px 0;
}

.password-block a {
    color: #303030;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.user-form-checkbox label {
    position: relative;
    line-height: 23px;
    margin-bottom: 0;
    padding-left: 0;
}

.user-form-checkbox label input+span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 23px;
    width: 23px;
    border: 1px solid #717378;
    cursor: pointer;
    background-color: transparent;
}

.user-form-checkbox label input+span::before {
    position: absolute;
    height: 19px;
    width: 19px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    content: '\f00c';
    display: block;
    font: 17px/19px FontAwesome;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: transparent;
    color: #cea985;
}

.user-form-checkbox label span {
    color: #cea985;
}

.user-form-checkbox label input {
    display: none;
    width: 100%;
}

.user-form-checkbox label input:checked+span::before {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.user-form-checkbox label {
    position: relative;
    line-height: 23px;
    margin-bottom: 0;
    padding-left: 0;
}

.user-form-checkbox {
    text-align: center;
    margin: 0 0 18px;
}

.control-label {
    color: #717378;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 7px;
    display: block;
    width: 100%;
    position: relative;
}

.fancybox-content {
    overflow: hidden;
}

.register-form .form-group {
    margin-bottom: 0px;
}

.register-form .form-group:last-child {
    margin-bottom: 15px;
}