* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poopins, sans-serif;
}

img[tabindex="0"] {
    cursor: pointer;
}

img[tabindex="0"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .4);
}

img[tabindex="0"]:focus,
/* убрать строку, если не нужно, чтобы при клике на увеличенное фото, оно возвращалось в исходное состояние */

img[tabindex="0"]:focus~* {
    pointer-events: none;
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: none;
    color: unset;
}

/*=================HEADER=================*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

input, button {
    border: none;
    outline: none;
    border-radius: 20px;
}

.top-bar {
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 10px 0 10px;
    border-bottom: 1px solid #eff1f2;
    width: 100%;
    z-index: 10;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.stetch {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.logo_page {
    max-width: 120px;
    width: 100%;
    height: auto;
}

.input-form[type="text"] {
    border: 1px solid #eff1f2;
    width: 75%;
    height: 35px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 15px;
    font-size: 14px;
    transition: .4s;
}

.input-form:hover {
    background-color: #ffff;
    border-color: #4169E1;
}

.header-left {
    width: 20%;
    margin-left: 50px;
}

.icon-search {
    position: relative;
    left: 33px;
    width: 20px;
    height: auto;
    display: block;
}

.header-right {
    width: 20%;
    position: relative;
    top: -1px;
    display: flex;
    justify-content: space-between;
}

.header-right:hover .header-right:focus {
    background-color: #2980B9;
}

.view {
    margin: 9px 16px;
    font-size: 10px;
    color: #808080;
}

.dropdown-user {
    position: relative;
    display: inline-block;
}

.dropdown-content-user {
    display: none;
    position: absolute;
    background-color: rgb(245, 248, 250);
    min-width: 245px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content-user a {
    display: flex;
    color: black;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-content-user img {
    width: 25px;
    height: auto;
    padding-right: 6px;
    margin-top: -1px;
}

.dropdown-content-user a:first-child:hover {
    background-color: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-content-user a:last-child:hover {
    background-color: #ddd;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-content-user a:hover {
    background-color: #ddd;
}

.show-user {
    display: block;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: -200px;
}

/*--------------------------------------------------------*/

.ios-toggle, .ios-toggle:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

.checkbox-label {
    display: block;
    position: absolute;
    right: 15px;
    top: 44px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    width: 18%;
    height: 20px;
    border-radius: 18px;
    background: #f8f8f8;
    cursor: pointer;
}

.checkbox-label:hover {}

.checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 10px;
    text-indent: 20px;
    height: 19px;
    width: 19px;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    right: auto;
    background: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -25px;
    height: 100%;
    width: 20px;
    text-align: right;
    color: #bfbfbf;
    white-space: nowrap;
}

.ios-toggle:checked+.checkbox-label {
    box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

.ios-toggle:checked+.checkbox-label:before {
    left: calc(100% - 20px);
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.ios-toggle:checked+.checkbox-label:after {
    content: attr(data-on);
    left: 20px;
    width: 36px;
}

/* GREEN CHECKBOX */

#checkbox1+.checkbox-label {
    box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
}

#checkbox1:checked+.checkbox-label {
    box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

#checkbox1:checked+.checkbox-label:after {
    color: rgba(19, 191, 17, 1);
}

/*--------------------------------------------------------*/

.header-center {
    width: 50%;
}

.link_sign_in {
    width: 40%;
    border: 1px solid #4169E1;
    border-radius: 20px;
    color: #4169E1;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: .4s;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.link_sign_in:hover {
    border: 1px solid #000000;
    color: #000000;
}

.link_sign_up {
    width: 40%;
    border-radius: 20px;
    background-color: #4169E1;
    color: #ffff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: .4s;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.link_sign_up:hover {
    background-color: #000000;
    color: #fff;
}

.user_icon {
    object-fit: cover;
    width: 28px;
    height: auto;
    position: relative;
}

/*=================MAIN=================*/

.left-bar {
    position: fixed;
    /* top: 0; */
    width: 20%;
}

.left_sidebar {
    height: calc(100vh - 120px);
    overflow: hidden;
}

.left_sidebar_content {
    width: calc(100% + 17px);
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; 
    padding-bottom: 20px;
}

.main {
    border: 2px solid rgb(245, 248, 250);
    float: left;
    width: 16.428%;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgb(245, 248, 250);
}

.main:hover {
    border: 2px solid #4169E1;
}

.main_home {
    width: 75%;
    margin: 95px 0 0 50px;
}

.main_mark {
    width: 75%;
    margin: 25px 0 0 50px;
}

.main_hashtag {
    width: 75%;
    margin: 25px 0 0 50px;
}

.main-page {
    margin: 15px;
    text-decoration: none;
}

.main-page a {
    margin-left: 10px;
    color: #041637;
    text-decoration: none;
}

.main-page a:hover {
    color: #4169E1;
}

.main-page img {
    margin: -2px 10px auto -30px;
    width: 20px;
}

/*================= NAVIGATION/POSTS=================*/

.navigation {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 47%;
    text-align: center;
    margin-top: -24px;
}

.nav_menu {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.nav_link {
    border: 1px solid rgb(245, 248, 250);
    vertical-align: top;
    color: #1f285c;
    width: 17%;
    padding: 4px;
    position: relative;
    background-color: rgb(245, 248, 250);
    border-radius: 20px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
}

.every {
    margin: 0;
}

.nav_link:hover {
    border: 1px solid #4169E1;
    text-decoration: none;
}

/*-----------------------------------------------------------------------*/

/*.dropdown-every {*/

/*position: relative;*/

/*display: inline-block;*/

/*}*/

/*.dropdown-content-every {*/

/*display: none;*/

/*position: absolute;*/

/*background-color: rgb(245, 248, 250);*/

/*min-width: 245px;*/

/*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/

/*z-index: 10;*/

/*}*/

/*.dropdown-content-every a {*/

/*display: flex;*/

/*color: black;*/

/*padding: 15px 18px;*/

/*text-decoration: none;*/

/*font-size: 15px;*/

/*}*/

/*.dropdown-content-every a:first-child:hover {*/

/*background-color: #ddd;*/

/*border-top-left-radius: 10px;*/

/*border-top-right-radius: 10px;*/

/*border-bottom-left-radius: 0px;*/

/*border-bottom-right-radius: 0px;*/

/*}*/

/*.dropdown-content-every a:last-child:hover {*/

/*background-color: #ddd;*/

/*border-top-left-radius: 0px;*/

/*border-top-right-radius: 0px;*/

/*border-bottom-left-radius: 10px;*/

/*border-bottom-right-radius: 10px;*/

/*}*/

/*.dropdown-content-every a:hover {*/

/*background-color: #ddd;*/

/*}*/

/*.show-ever {*/

/*display: block;*/

/*border-radius: 10px;*/

/*margin-top: 12px;*/

/*margin-left: -200px;*/

/*}*/

/*-----------------------------------------------------------------------*/

.create {
    vertical-align: top;
    width: 17%;
    position: relative;
    border-radius: 20px;
    text-decoration: none;
    color: #eff1f2;
    background-color: #000000;
    line-height: 40px;
    text-align: center;
}

.create:hover {
    color: #eff1f2;
}

.sort {
    margin-left: 40px;
}

.icon-sort {
    height: auto;
    width: 20px;
    transition: .5s;
}

.icon-sort:hover {
    transform: scale(.8);
}

.reconend {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main_post {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.my_post {
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}

.my_post:hover {
    background-color: #F8F8FF;
    border: 1px solid #C0C0C0;
    padding: 20px;
    border-radius: 20px;
}

.user {
    display: flex;
    height: 20px;
}

.inf {
    text-decoration: none;
}

.inf:hover {
    text-decoration: underline;
}

.inf_user {
    margin-top: 5px;
    width: 510px;
}

.name {
    font-weight: bolder;
    font-size: 14px;
    color: #041637;
    padding-left: 10px;
}

.user_link {
    font-size: 12px;
    color: #A9A9A9;
}

.post_date {
    font-size: 12px;
    color: #A9A9A9;
    padding-left: 10px;
}

.inf_post {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 7px;
    margin-left: 61px;
}

.post-badge {
    display: flex;
}

.item {
    position: relative;
    margin-right: 6px;
    margin-bottom: 3px;
    text-decoration: none !important;
}

.notify-badge {
    left: -3px;
    top: 0;
    background: #4169E1;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #fff;
    padding: 3px 10px;
    font-size: 10px;
}

.notify-badge:hover {
    background: #FFFF00;
    color: #000;
}

.text_post {
    font-size: 14px;
    color: #041637;
    margin: 3px 0 10px;
}

.text_post a {
    color: #4169E1;
    text-decoration: none;
}

.text_post a:hover {
    text-decoration: underline #4169E1 !important;
}

.post_foto {
    border-radius: 20px;
    max-width: 500px;
    height: auto;
}

.nav_post {
    float: right;
}

.under_post {
    display: flex;
    justify-content: space-between;
    float: right;
    width: 500px;
    border-top: 1px solid #e7e8ec;
    margin-top: 10px;
    padding-top: 10px;
}

.num-post {
    color: #000;
    font-size: 12px;
    position: absolute;
    margin: 4px;
}

.num-like {
    margin: 0;
}

.user_icon-post {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/*=================RECOMMENDATION=================*/

hr {
    border: .5px solid #696969;
}

.right-bar {
    position: fixed;
    /* top: 0; */
    z-index: 9;
}

.right_sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    right: 6%
}

.recom {
    /*border: 2px solid #eff1f2;*/
    border: 2px solid rgb(245, 248, 250);
    width: 17.85%;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgb(245, 248, 250);
}

.recom:hover {
    border: 2px solid #4169E1;
}

.recom_home {
    width: 80%;
    margin: 95px 0 0 50px;
}

.title_recom {
    text-align: center;
    color: #041637;
    margin: 0;
    font-size: 21px;
}

.main_mark {
    margin: 25px 0 0 50px;
}

.main_hashtag {
    margin: 25px 0 0 50px;
}

.recom-page {
    margin: 15px;
    text-decoration: none;
}

.user-link {
    margin-left: 30px;
    color: #041637;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}

.user-link:hover {
    text-decoration: underline;
}

.user-icon {
    position: absolute;
    margin: -5px -40px auto;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.logout-btn i {
    font-size: 22px;
    width: 25px;
    height: auto;
    padding-right: 6px;
    margin-top: -1px;
}

/*.inc {*/

/*width: 100px;*/

/*margin: 10px auto auto 180px;*/

/*font-size: 11px;*/

/*color: #888888;*/

/*}*/

.set_like {
    cursor: pointer;
    fill: #000000;
}

.set_like {
    cursor: pointer;
}

/*=================HEART(like)=================*/

.set_like:hover path:nth-child(1) {
    fill: #E0245E;
    transition: 250ms ease;
}

.set_like path:nth-child(2) {
    fill: transparent;
    transition: 350ms ease;
}

.svg-filled path:nth-child(2) {
    fill: #E0245E !important;
}

@media screen and (max-width: 1220px) {
    .main_home {
        margin-left: 0px;
        width: 90%;
    }
    .main_mark {
        margin-left: 0px;
        width: 90%;
    }
    .main_hashtag {
        margin-left: 0px;
        width: 90%;
    }
}

@media screen and (max-width: 1160px) {
    .main_home {
        margin-left: 0px;
        width: 100%;
    }
    .main_mark {
        margin-left: 0px;
        width: 100%;
    }
    .main_hashtag {
        margin-left: 0px;
        width: 100%;
    }
    .right-bar {
        display: none;
    }
    .navigation {
        width: 80%;
        margin: 0px 0px 0px 20%;
    }
    .text_post {
        width: 80%;
    }
}

@media screen and (max-width: 915px) {
    .navigation {
        width: 65%;
        margin-left: 30%;
    }
    .left-bar {
        width: 20%;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 850px) {
    .left-bar {
        width: 22%;
    }
}

@media screen and (max-width: 832px) {
    .left-bar {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px) {
    .main {
        display: none;
    }
    .navigation {
        margin: 0 auto;
    }
    .nav_menu {
        width: 110%;
    }
    .header-right {
        width: 35%;
    }
}

@media screen and (max-width: 605px) {
    .my_post:hover {
        width: 145%;
    }
    .my_post {
        width: 145%;
    }
    .post_foto {
        width: 85%;
    }
}

.modal-form-close {}

/*
@media screen and (max-width: 800px) {
    .navigation{
        width: 50%;
    }
    .left-bar{
        width: 10%;
    }
}
}
/*.my_post
{
    width: 100%;
}
    .my_post:hover{
        width: 100%;
    }
    .post_foto
    {
        width: 80%;
    }

}

/*=================SORT=================*/

/*.svg-icon {*/

/*margin-left: 20px;*/

/*height: 23px;*/

/*width: auto;*/

/*transition: .5s;*/

/*}*/

/*.svg-icon:hover {*/

/*transform: scale(.8);*/

/*}*/

/*.svg-icon path,*/

/*.svg-icon polygon,*/

/*.svg-icon rect {*/

/*fill: #000000;*/

/*}*/

/*.svg-icon circle {*/

/*stroke: #000000;*/

/*stroke-width: 1;*/

/*}*/

.main-views-error .error-title {
    margin-bottom: 18px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #282a30;
    font-size: 2.1em;
    letter-spacing: 1.38px;
}

.main-views-error .error-text {
    font-size: 20px;
    letter-spacing: .16px;
    margin-bottom: 26px;
}

.main-views-error .main-error-button {
    font-size: 1.2em;
    color: #000;
    background: #cea985;
    padding: 9px 25px;
    display: inline-block;
    text-transform: uppercase;
    background-color: rgb(245, 248, 250);
    border-radius: 20px;
    text-decoration: none;
}